@import url("./default-common.css");
@import url("code-styles/nord.min.css");

:root {
  --color-sheet: #090A0A;
  --color-alt: #0D0E0E;
  --color-text: #FFFFFF;
  --color-border: #222323;
  --color-meta: #4C4D4E;
}

pre code#code {
  background-color: transparent;
}
