<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{THEMES_DIR | safe}}/{{theme | safe}}.css" />
</head>
<body>

  <pre><code id="code" class="language-sql">{{ sql | safe }}</code></pre>

  <table>
    <tr>
      {% for header in headers -%}
        <th>{{header}}</th>
      {% endfor -%}
    </tr>

    {% for row in rows -%}
    <tr>
      {% for cell in row -%}
        <td {% if cell.is_null %}class="meta-val"{% endif %} >
          {{cell.value}}
        </td>
      {% endfor -%}
    </tr>
    {% endfor -%}
  </table>

  <script src="{{DATA_DIR | safe}}/js/highlight.min.js"></script>
  <script src="{{DATA_DIR | safe}}/js/sql.min.js"></script>

  <script>
    hljs.highlightAll();
  </script>
  
</body>
</html>