<!DOCTYPE html>
<html>
<style>
  html,
  body {
    padding: 0px;
    margin: 0px;
  }

  table {
    width: 100%;
    max-width: none;
  }
</style>
<link rel="stylesheet" href="{{THEMES_DIR | safe}}/{{theme | safe}}.css" />
<body>
<table>
  <tr>
    {% for header in headers -%}
      <th>{{header}}</th>
    {% endfor -%}
  </tr>

  {% for row in rows -%}
  <tr>
    {% for cell in row -%}
      <td {% if cell.is_null %}class="meta-val"{% endif %} >{{cell.value}}</td>
    {% endfor -%}
  </tr>
  {% endfor -%}
</table>
</body>
</html>